.container
  = link_to "Log", "", "ng-click" => "addAlert()"
  - if user_signed_in?
    = link_to "New Course", new_course_path

    %h3 My Courses
    %h6
      //Order by:
      //= link_to "Created At", "", "ng-click" => "setOrder('-created_at')","ng-model" => "order"
      // \/
      //= link_to "Title", "", "ng-click" => "setOrder('title')", "ng-model" => "order"
    .panel.panel-default{"ng-repeat" => "course in courses", "ng-controller" => "CourseConnectionsCtrl as conn"}
      .panel-heading{"ng-hide" => "getEditing() && getSelected(course)"}
        %button.btn.btn-info.btn-sm
          {{course.title}}
        %button.btn.btn-default.btn-sm{"ng-click" => "setSelected(course);", "ng-hide" => "getSelected(course)", :class => "description_link"}
          Description
          %span.glyphicon.glyphicon-chevron-down
        %button.btn.btn-default.btn-sm{"ng-click" => "setSelected(null)", "ng-show" => "getSelected(course)", :class => "description_link"}
          Description
          %span.glyphicon.glyphicon-chevron-up
        %button.btn.btn-warning.btn-sm{"ng-click" => "setSelected(course); setEditing(true); $event.stopPropagation(); setOldTitle(course.title)"}
          %span.glyphicon.glyphicon-pencil
        %button.btn.btn-danger.btn-sm{"ng-click" => "delete(course, $index); $event.stopPropagation();"}
          %span.glyphicon.glyphicon-trash
      .panel-heading{"ng-show" => "getEditing() && getSelected(course)"}
        %form{ "ng-submit" => "update(course, $index); $event.stopPropagation();", "ng-show" => "getEditing() && getSelected(course)", :style => "position: relative; display: inline"}
          %input{:required => true, "ng-model" => "course.title", :class => "form-control input-sm", :style => "width: 400px; position: relative; display: inline" }
          %input{:type => "submit", :value => "Update", :class => "btn btn-warning btn-sm"}
        %button.btn.btn-info.btn-sm{"ng-click" => "setEditing(false); cancelEditing(course)", "ng-show" => "getEditing() && getSelected(course)", :style => "position: relative; display: inline"}
          Cancel
      .panel-body{"ng-show" => "getSelected(course)"}
        {{course.description}}
      .panel-footer
        %button.btn.btn-default.btn-sm{"data-placement" => "top", "data-toggle" => "tooltip", :title => "Number of students", :type => "button",
                                       "ng-click" => 'getStudents(course); showStudents = !showStudents;'}
          %span.glyphicon.glyphicon-refresh.glyphicon-refresh-animate{"ng-show" => "loading"}
          %span.glyphicon.glyphicon-user{"ng-hide" => "loading"}
          %span.badge
            {{course.students_number}}
      .panel-body{"ng-show" => "showStudents"}
        %table.table.table-striped.table-hover{"ng-hide" => "canEdit(course)"}
          %thead
            %tr
              %th #
              %th First Name
              %th Last Name
              %th Email
              %th ACTIONS
          %tbody
            %tr{"ng-repeat" => "student in students"}
              %td {{$index + 1}}
              %td
                {{student.first_name}}
                //%input{:style => "display: block; padding: 0; margin: 0; border: 0; width: 100%;"}
              %td
                {{student.last_name}}
              %td
                {{student.email}}
              %td
                Delete

        %a.btn.btn-sm.btn-default.btn-lg.btn-block{:href => "", "ng-click" => "addStudent = true", "ng-hide" => "addStudent"}
          %span.glyphicon.glyphicon-plus
          Add Student
        %a.btn.btn-sm.btn-default.btn-lg.btn-block{:href => "", "ng-click" => "addStudent = false; addStudent = false", "ng-show" => "addStudent"}
          %span.glyphicon.glyphicon-plus
          Cancel
        %input.form-control.input-sm{:type => "text", :placeholder => "Email", "ng-model" => "query.email", "ng-show" => "addStudent"}
        %table.table.table-striped.table-hover{"ng-show" => "addStudent && query.email.length > 0 && filtered_students.length > 0"}
          %thead
            %tr
              %th #
              %th First Name
              %th Last Name
              %th Email
              %th ACTIONS
          %tbody
            %tr{"ng-repeat" => "student in filtered_students = (all_students | filter: query | limitTo: 50)"}
              %td {{$index + 1}}
              %td
                {{student.first_name}}
                //%input{:style => "display: block; padding: 0; margin: 0; border: 0; width: 100%;"}
              %td
                {{student.last_name}}
              %td
                {{student.email}}
              %td
                Invite

    %h3 Courses I am subscribed to
    %h6
      //Order by:
      //= link_to "Created At", "", "ng-click" => "assisted_order = '-created_at'","ng-model" => "assisted_order"
      //\/
      //= link_to "Title", "", "ng-click" => "assisted_order = 'title'", "ng-model" => "assisted_order"
    .panel.panel-default{"ng-repeat" => "course in assisted_courses", "ng-click" => "select(course)"}
      .panel-heading{"ng-hide" => "getEditing() && getSelected(course)"}
        {{course.title}}
        = link_to "Edit name", "", "ng-click" => "setSelected(course); setEditing(true); $event.stopPropagation();", "ng-show" => "canEdit(course)"
      %form{ "ng-submit" => "update(course); $event.stopPropagation();", "ng-show" => "getEditing()  && getSelected(course)", :style => "position: relative; display: inline"}
        %input{:required => true, "ng-model" => "course.title", :class => "form-control input-sm", :style => "width: 400px; position: relative; display: inline" }
        %input{:type => "submit", :value => "Update", :class => "btn btn-primary btn-xs"}

      .panel-body{"ng-show" => "getSelected(course)"}
        {{course.description}}
        {{course.students_number}}
  %strong
    /{{orden}}
